.mandatory {
  color: #ff0000
}

.unavailable {
	color: #071524 !important ;
}

.booking {
	color: #fa1d1d !important;
}

.location {
	color: #2dc4ff !important ;
}

.DateRangePicker__Month {
	margin-left: 0 !important;
}

